$green: #6ea820;
$gray: #878787;
$bg-gray: #f7f7f7;


@import "./media.scss";
@import "./slick.scss";
@import "./main-header.scss";
@import "./main-slider.scss";
@import "./services.scss";
@import "./history.scss";
@import "./popular-products.scss";
@import "./featured-products.scss";
@import "./special.scss";
@import "./news.scss";
@import "./partners.scss";
@import "./testimonials.scss";
@import "./footer.scss";
@import "./plants-products.scss";