.breadcrumbs {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            padding: 0 5%;
    background-color: $bg-gray;
    padding: 20px 0;
}

.products-section {
    padding: 0 5% 50px;
    display: flex;
    justify-content: space-between;
    background-color: $bg-gray;
    display: flex;
    justify-content: center;

    @include tablets {
        flex-direction: column;
    }
}

.breadcrumbs__list {
    display: flex;
    justify-content: center;
}

.breadcrumbs__item {
    margin-right: 20px;
    position: relative;

    &:not(:last-child) {
        &::before {
            content: "|";
            font-family: 'FontAwesome';
            color:#262626;
            position: absolute;
            top: 0;
            right: -15px;
        }
    }
}

.breadcrumbs__link {
    color: #000000;

    &:hover {
        color: $green;
    }
}


.products-aside {
    width: 25%;
    padding: 15px;
    box-sizing: border-box;

    @include tablets {
        order: 2;
        width: 100%;
    }
}

.categories {
    background-color: #fff;
    margin-bottom: 15px;
}

.aside-title {
    color:#000;
    text-transform: uppercase;
    padding: 15px 20px;
    font: 600 $font-normal/18px;
    letter-spacing: 1px;
    font-weight: 600;

    @include tablets {
        position: relative;
        cursor: pointer;

        &:before {
            color: #000000;
            content: "\f107";
            font-family: "FontAwesome";
            font-size: 22px;
            font-weight: 400;
            height: 20px;
            margin: 0;
            position: absolute;
            right: 20px;
            text-align: center;
            top: 10px;
            width: 20px;
        }
    }
}

.categories__list {
    padding: 0 15px 15px;

    @include tablets {
        display: none;
    }
}

.categories__item {
    padding: 5px 0;
}

.categories__link {
    padding: 4px 0;
    color: #262626;
    text-transform: capitalize;
    font-size: $font-normal;
    font-weight: normal;
    width: 100%;

    &:hover {
        color: $green;
    }
}

.aside-subcategiries {
    padding: 5px 15px 0;
}

.aside-subcategories__item {
    margin-bottom: 5px;
    
}


.aside-subcategories__link {
    color: #555555;
    
    &:hover {
        color: $green;
    }
}

.filter {
    background-color: #fff;
    margin-bottom: 15px;
}

.filter__list {
    padding: 0 15px;

    @include tablets {
        display: none;
    }
}

.filter__item {
    display: flex;
    flex-direction: column;
}

.filter__title {
    color:#000000;
    font-size: $font-normal;
    font-weight: 500;
    text-transform: capitalize;
}

.checkbox-container {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    label {
        color: #555555;
        cursor: pointer;

        &:hover {
            color: $green;
        }
    }

    input {
        margin: 3px 8px 0 0;
        cursor: pointer;
    }
}

.filter__btn {
    color:#ffffff;
    background: $green;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    padding: 8px 30px 8px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 22px;
    border: none;
    margin-left: 15px;
    margin-bottom: 15px;

    &:hover {
        color: #fff;
        background-color: #000000;
    }
}

.advertising {
    margin-bottom: 15px;   
    
    @include tablets {
        display: none;
    }
}

.advertising-block__link {
    display: block;
    width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}

.latest-products {
    background-color: #fff;
}

.latest-products__list {
    padding: 0 15px 15px;

    @include tablets {
        display: none;
    }
}

.latest-product-card {
    display: flex;
    margin-bottom: 15px;

    .featured-product-card__link {
        width: 30%;
        height: auto;
    }

    .latest-product-link {
        font-size: 10px;
        padding: 0;
        margin: 0;
        line-height: 10px;
    }
}

.latest-product-title {
    border: none;
    padding: 0;
}

.latest-product-price {
    padding: 0;
}

.latest-products__btn {
    padding: 0px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    background: 0;
    color:#000;
    display: block;

    &:hover {
        color: $green;
    }
}

.products-category-content {
    width: 75%;
    background-color: $bg-gray;

    @include tablets {
        order: 1;
        width: 100%;
    }
}

.products-category-content__title {
    color:#000000;
    text-transform: uppercase;
    margin-bottom: 20px;
    font: 500 18px/26px;
    padding: 0 15px;
}

.products-category-content__img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.products-category-content__desc {
    padding: 0 15px;
}

.products-category-content__text {
    margin-bottom: 10px;
}

.subcategories {
    padding: 0 15px;
}

.subcategories__title {
    margin-bottom: 18px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}

.subcategories__list {
    display: flex;
}

.subcategories__item {
    margin: 0 10px 5px 0;
}

.subcategories__link {
    color:#333;
    display: block;
    padding: 5px 15px;
    font-size: $font-normal;
    border: 2px solid#e6e6e6;
    background-color:#fff;

    &:hover {
        color: $green;
        border-color: $green;
    }
}

.filterboard {
    margin: 10px 0 10px;
    width: 100%;
    background: none;
    border-bottom: 1px solid#ddd;
    padding: 0 15px 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    @include tablets {
        flex-direction: column;
    }
}

.filterboard__left {
    display: flex;
    align-items: center;

    @include tablets {
        margin-bottom: 20px;
    }
}

.show-grid {
    width: 24px;
    height: 24px;
    font-size: 0px;
    border: none;
    background: url(../img/sprite.png) no-repeat scroll -4px -31px;
    margin-right: 8px;

    &:hover,
    &--active {
        background-position: -4px -1px;
    }
}

.show-list {
    width: 24px;
    height: 24px;
    font-size: 0px;
    border: none;
    background: url(../img/sprite.png) no-repeat scroll -41px -31px;
    margin-right: 8px;

    &:hover,
    &--active {
        background-position: -41px -1px;
    }
}

.product-compare {
    margin: 0 20px 0;
}

.product-compare__link {
    color: #555555;

    &:hover {
        color: $green;
    }
}

.filterboard__right {
    display: flex;
}

.sort-by {
    margin-right: 10px;
}

.sort-by__label {
    margin: 8px 10px 5px 0;
}

.select {
    height: 34px;
    font-size: 12px;
    padding: 6px 12px;
    color:#222222;
    background-color:#fff;
    border: 1px solid#e5e5e5;
    cursor: pointer;

    option {
        cursor: pointer;
    }
}

.sort-by__select {
    width: 150px;
}

.products-block__list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.products-block__item {
    width: 30%;
    padding: 10px;
    background-color: #fff;
    margin: 15px;
    box-sizing: border-box;

    @include tablets {
        width: 45%;
    }

    @include phones {
        width: 100%;
    }

    &:hover {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        transition: all 0.4s ease-in-out;

        .product-block__img {
            opacity: 0;
            transition: all 0.3s ease-in-out;
            &--hover {
                opacity: 1;
                transition: all 0.3s ease-in-out;
            }
        }

        .product-options {
            right: 0;
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }

        .sale-sticker {
            left: 10px;
            opacity: 1;
            transition: all 0.4 ease-in-out;
        }
    }
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 0;
    margin: 20px 0 10px;

    @include phones {
        flex-direction: column;
        align-items: flex-start;
    }
}

.pagination-text {
    @include phones {
        order: 2;
    }
}

.pagination {
    @include phones {
        order: 1;
        margin-bottom: 20px;
    }
}

.pagination__list {
    display: flex; 
}

.pagination__item {
    margin-right: 3px;
}

.pagination__link {
    position: relative;
    padding: 7px $font-normal;
    color: #ffffff;
    background-color: #000000;

    &:hover,
    &--active {
        background-color: $green;
    }
}

.plant-footer {
    background-color: #fff;

    .footer-newsletter__input {
        background-color: #f4f4f4;
    }
}

.visible {
    display: block;
}

.rotate {
    &::before {
        transform: rotate(180deg);
    }
}
